$volaires-blue: #3c80bc;
$volaires-blue-hover: #2463B5;
$volaires-red: #F16e61;
$volaires-red-second: #F64444;
$volaires-yellow: #FDD771;
$volaires-yellow-hover: #FFC038;
$volaires-gray: #404041;
$black-details: #231f20;
$volaires-green: #469196;
$volaires-green-hover: #81AB86;

// manual de marca volaires
$v-blue: #3565B0;
$v-red:#E2434C;
$v-amber: #FEC31C;
$v-dark-gray: #626366;
$v-medium-gray: #939597;
$v-medium-gray-blue: #79818a;
$v-light-gray: #C6C8CA;
$v-yellow: #F5D86C;
$v-violet: #71568E;
$v-red-second: #F26E61;
$v-blue-second: #3F80C2; //3d81bd
$v-teal: #518C93;
$v-light-green: #88A585;
$v-dark-gray-second: #4E4D4F;
$v-light-green-second: #808284;

